<a href="https://colab.research.google.com/github/krishks10/Colab/blob/main/Chapter7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i = 0
while i<5:
  print("Krish")
  i = i+1 #print 5 times

Krish
Krish
Krish
Krish
Krish

In [ ]:
username = input("Enter Your ID: ")
i = 0
while i<2:
  print(username)
  i = i+1

Enter Your ID: yash
yash
yash

In [ ]:
l = [1, 7, 8]
for item in l:
  print(item)

1
7
8

In [ ]:
print(1)
print(2)
print(3)
print(4)
print(5)

#The same task can be done like this
for i in range(1, 6):
    print(i)

1
2
3
4
5
1
2
3
4
5

In [ ]:
i = 1

while(i<6):
    print(i)
    i +=1


'''
Output:
1
2
3
4
5
'''

1
2
3
4
5

In [ ]:
l = [1, "krish", False, "This", "Shubham"]

i = 0

while(i<len(l)):
    print(l[i])
    i +=1

1
krish
False
This
Shubham

In [4]:
for i in range(0, 7):
    print(i)

0
1
2
3
4
5
6

In [9]:
for i in range(0, 80):
  print(i)
  if i==8:
    break

0
1
2
3
4
5
6
7
8

In [10]:
for i in range(4):
    print("printing")
    if i==2:
      continue
    print(i)

printing
0
printing
1
printing
printing
3

In [12]:
i = [1, 5, 7]
for item in i:
    pass