<a href="https://colab.research.google.com/github/krishks10/Colab/blob/main/Chapter4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
friends = ["Apple", "Orange", 5, 345.01, False, "Aakash", "Rohan" ]

print(friends[0])
friends[0] = "Grapes"

print(friends[0])
print(friends[3:7])

Apple
Grapes
[345.01, False, 'Aakash', 'Rohan']

In [9]:
friends = ["Apple", "Orange", 5, 345.06, False, "Aakash", "Rohan"]
print(friends)
friends.append("Krish")
print(friends)

l1 = [1, 34,62, 2, 6, 11]
# l1.sort()
# l1.reverse()
# l1.insert(2, 333333) # Insert 333333 such that its index in the list is 3
value = l1.pop(2)
print(value)
print(l1)

['Apple', 'Orange', 5, 345.06, False, 'Aakash', 'Rohan']
['Apple', 'Orange', 5, 345.06, False, 'Aakash', 'Rohan', 'Krish']
62
[1, 34, 2, 6, 11]

In [18]:
l1 = [1, 8, 7, 2, 21, 15]
l1.sort()
l1.remove(21)
print(l1)

[1, 2, 7, 8, 15]

In [17]:
a = (1,45,342,3424,False, "Rohan", "Shivam")
print(a)
print(type(a))

(1, 45, 342, 3424, False, 'Rohan', 'Shivam')
<class 'tuple'>