<a href="https://colab.research.google.com/github/krishks10/Colab/blob/main/Chapter5_PS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
words = {
    "madad" : "Help",
    "kursi" : "chair",
    "billi" : "cat"
}

word = input("Enter the word you want meaning of: ")

print(words[word])

Enter the word you want meaning of: kursi
chair

In [4]:
s = set()
n = input("Enter number: ")
s.add(int(n))
n = input("Enter number: ")
s.add(int(n))
n = input("Enter number: ")
s.add(int(n))
n = input("Enter number: ")
s.add(int(n))
n = input("Enter number: ")
s.add(int(n))
n = input("Enter number: ")
s.add(int(n))
n = input("Enter number: ")
s.add(int(n))
n = input("Enter number: ")
s.add(int(n))

print(s)

Enter number: 2
Enter number: 4
Enter number: 6
Enter number: 8
Enter number: 10
Enter number: 15
Enter number: 20
Enter number: 40
{2, 4, 6, 8, 40, 10, 15, 20}

In [7]:
s = set()
s.add(18)
s.add("18")

print(s)

{'18', 18}

In [12]:
s = set()
s.add(20)
s.add('20.0')
s.add('20')
print(s)

len(s)

{'20.0', 20, '20'}

3

In [13]:
s = {}
print(type(s))

<class 'dict'>

In [14]:
d = {}

name = input("Enter friends name: ")
lang = input("Enter language name: ")
d.update({name : lang})

name = input("Enter friends name: ")
lang = input("Enter language name: ")
d.update({name : lang})

name = input("Enter friends name: ")
lang = input("Enter language name: ")
d.update({name : lang})

name = input("Enter friends name: ")
lang = input("Enter language name: ")
d.update({name : lang})

print(d)

Enter friends name: Aditya
Enter language name: English
Enter friends name: Pranav
Enter language name: Hindi
Enter friends name: Bisen
Enter language name: Hangul
Enter friends name: Boruto
Enter language name: Kanji
{'Aditya': 'English', 'Pranav': 'Hindi', 'Bisen': 'Hangul', 'Boruto': 'Kanji'}

In [4]:
d = {}
name = input("Enter friends name: ")
lang = input("Enter language name: ")
d.update({name : lang})

name = input("Enter friends name: ")
lang = input("Enter language name: ")
d.update({name : lang})

name = input("Enter friends name: ")
lang = input("Enter language name: ")
d.update({name : lang})
print(d)

Enter friends name: krish
Enter language name: hindi
Enter friends name: krish
Enter language name: hindi
Enter friends name: yash
Enter language name: english
{'krish': 'hindi', 'yash': 'english'}

In [7]:
d = {}

name = input("Enter friends name: ")
lang = input("Enter language name: ")
d.update({name : lang})
name = input("Enter friends name: ")
lang = input("Enter language name: ")
d.update({name : lang})
name = input("Enter friends name: ")
lang = input("Enter language name: ")
d.update({name : lang})
name = input("Enter friends name: ")
lang = input("Enter language name: ")
d.update({name : lang})

print(d)

Enter friends name: krish
Enter language name: hindi
Enter friends name: yash
Enter language name: uy
Enter friends name: krish
Enter language name: english
Enter friends name: te
Enter language name: yr
{'krish': 'english', 'yash': 'uy', 'te': 'yr'}

In [9]:
s = {8, 7, 12, "Krish", [1,2]}

s[4][0] = 9

#the value cannot be change!!

TypeError: unhashable type: 'list'