<a href="https://colab.research.google.com/github/krishks10/Colab/blob/main/Chapter2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

variable

In [ ]:
a = 35

b = 45

c = (a+b)

print (c)

80

datatype

In [ ]:
a = 1  # a is an integer

b = 5.3 # b is a floating point number

c= "Krish" # c is an string

d = False # d is boolean variable

e = None # e is an none type variable

rules variable

In [ ]:
a = 23

aaa = 435

krish = 34

samuel = 45

_samuel = 34

# @ samuel = 56 #Invalid due yp @ symbol
#s@muel #invalid due to @ symbol

operator

In [ ]:
# Arithmetic Operators
a = 7
b = 4
c = a+b
print(c)

# Assignment Operators
a= 4-2
print (a)

b = 6
# b += 3 # Increment the value of b by 3 and then assign it to b
# b -= 3 # Decrement the value of b by 3 and then assign it to b
print (b)

11
2
3

comparision operator

In [ ]:
# Comparison Operators

d = 5<4

print(d)


# Logical Operators

e = True or False

# Truth table of 'or'
print("True or False is ", True or False)
print("True or True is ", True or True)
print("False or True is ", False or True)
print("False or False is ", False or False)

# Truth table of 'and'
print("True and False is ", True and False)
print("True and True is ", True and True)
print("False and True is ", False and True)
print("False and False is ", False and False)

print(not(True))

False
True or False is  True
True or True is  True
False or True is  True
False or False is  False
True and False is  False
True and True is  True
False and True is  False
False and False is  False
False

type

In [ ]:
a = "31.2"
b =  float(a) # a but the type should be float
t = type(b) # class <int>
print(t)

<class 'float'>

input

In [ ]:
a = int(input("Enter No.1: "))
b = int(input("Enter No.2: "))

print("No. a is: ", a)
print("No. b is: ", b)
print("Sum is ", a + b)

Enter No.1: 1
Enter No.2: 2
No. a is:  1
No. b is:  2
Sum is  3