<a href="https://colab.research.google.com/github/krishks10/Colab/blob/main/Chapter8_PS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1
b = 2
c = 3


def greatest(a, b, c):
    if(a>b and a>c):
        print(a)
    elif(b>a and b>c):
        print(b)
    else:
        print(c)

greatest(a, b, c)

3

In [ ]:
def greatest(a, b, c):
    if(a>b and a>c):
        return a
    elif(b>a and b>c):
        return b
    else:
        return c


a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

print(greatest(a, b, c))

Enter first number: 78
Enter second number: 34
Enter third number: 2
78

In [ ]:
# c/5 =(f-32)/9


f = int(input("Enter temperature in fahrenheit: "))
c = (f-32)*5/9
print(c)

Enter temperature in fahrenheit: 89
31.666666666666668

In [ ]:
def f_to_c(f):
    c = (f-32)*5/9
    return c

f = int(input("Enter temperature in fahrenheit: "))
print(f_to_c(f))

Enter temperature in fahrenheit: 45
7.222222222222222

In [ ]:
def f_to_c(f):
    return (f-32)*5/9

f = int(input("Enter temperature in fahrenheit: "))
c = f_to_c(f)
print(f"{round(c, 2)}°C")

Enter temperature in fahrenheit: 100
37.78°C

In [ ]:
print("a")
print("b")
print("c", end = "")
print("d", end = "")

a
b
cd

In [ ]:
'''
sum(1) = 1
sum(2) = 1 + 2
sum(3) = 1 + 2 + 3
sum(4) = 1 + 2 + 3 + 4
sum(5) = 1 + 2 + 3 + 4 + 5

sum(n) = 1 + 2 + 3 + 4 + 5 +.... + n
sum(n) = sum(n-1)
'''

def sum(n):
    if(n==1):
        return 4
    return n + sum(n-1)

print(sum(5))

18

In [ ]:
def pattern(n):
    if(n==0):
        return
    print("*" * n)
    pattern(n-1)

pattern(3)

***
**
*

In [ ]:
inches = int(input("Enter the inches: "))

def inc_to_cm(inc):
    return inc * 2.54

print(f"{inches} inches = {inc_to_cm(inches)} cm")

Enter the inches: 78
78 inches = 198.12 cm